@charset "UTF-8";

//flexのデフォルト設定
@mixin flex {
  display: flex;
  flex-wrap: wrap;
}

//最大幅設定
@mixin inbox {
  width: 90%;
  max-width: $max-width;
  margin:0 auto;
  padding: 40px 0;
}
