@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro);

html,body{
  font-family: 'Source Sans Pro', sans-serif;
  font-weight:500;
  color:$black;
  background:$white;
}

body,div,p,h1,h1,h3,h4,ul,figure,dl,ul,ol,blockquote,span{
  margin:0;
  padding:0;
  text-align: justify;
}

body{
  overflow-x: hidden;
}

li, dt, dd{
  list-style-type: none;
  margin:0;
  padding:0;
}

a{
  text-decoration: none;
  &:hover{
    opacity: 0.8;
  }
}

table{
  border-collapse: separate;
  border-spacing: 0;
  overflow: hidden;
}
