@charset "UTF-8";

// -------------------------
// 変数
// ------------------------

// 色
$black: #353535;
$dark-black:#000000;
$white: #ffffff;

$blue: #0000ff;
$red: #ff0000;
$base-green: #f7fff0;
$green: #008000;
$orange: #ffa500;


//最大幅
$max-width:1240px;

// レスポンシブ
$sp: 'max-width:768px';
$pc: 'min-width:768px';




// -------------------------
// ファイル読み込み
// ------------------------
@import "mixin";
@import "reset";//初期化
@import "main"
