@charset "UTF-8";

// -------------------------
// 変数
// ------------------------

// 色
$black: #696969;
$dark-black:#353535;
$white: #ffffff;
$gray: #efefef;

$base-green: #f7fff0;

$green: #3CB371;
$light-green:#3cdcca;

$orange: #fe8224;
$light-orange:#FFBD26;


//最大幅
$max-width:1240px;

// レスポンシブ
$sp: 'max-width:768px';
$pc: 'min-width:768px';




// -------------------------
// ファイル読み込み
// ------------------------
@import "mixin";
@import "reset";//初期化

// テンプレート
@import "template/header";
@import "template/footer";
@import "template/application";
@import "template/registration";

//どのページでも使う基本設定
@import "contents";

// 個別ページ
@import "pages/anshin-for-company";//あんしん定額プランの案内LP
@import "pages/index";//トップページ
